<div>
<h1>About</h1>
<md>
XDM is a tool for selecting random cards to play with in Dice Masters, a dice and card game by Eric Lang and Mike Elliot. This site is no no way affiliated with Wizkids, Eric Lang, Mike Elliot, or any of the licenses (Marvel, Yu-Gi-Oh, Dungeons and Dragons, DC Comics, etc.) associated with this game. This app is simply a fan-made tool intended for fans of the game.

If you were a user of [mdmR](http://opinionator.net/mdmR) you can import your collection using the [conversion tool](http://gotu-game.com/XDM/import.mdm-xdm.php).

Please post any bugs you find and any feedback or feature requests on the [boardgamegeek.com (BGG)](http://boardgamegeek.com/article/18753366) forum thread.

## Changelog
- Patched Beta 1.10 [March 26 105]
	- Completed addition of Dungeons and Dragons: Battle for Faerun set cards.
	- implemented [importing from MDMr](http://gotu-game.com/XDM/import.mdm-xdm.php).
	- implemented url-based navigation (refresh and browser-back now work better).
- Patched Beta 1.01 [March 26 105]
	- Styling changes for readability.
	- Changed back-end to load straight from source files, rather than caching sets.
	- Added loading notification.
	- Fixed clearing all saved data.
	- Fixed loading from code.
- XDM Beta 1 released. [March 25 105]
	- XDM is essentially [mdmR](http://opinionator.net/mdmR) v2 and represents:
	- Major UI overhaul.
	- Addition of Marvel: Uncanny X-men set cards.
	- Addition of Yu-Gi-Oh set cards.
	- Partial implementaion of Dungeons and Dragons: Battle for Faerun set cards.

## Planned improvements
- Improve UI documentation and feedback
- Add DC set cards.

## Credits and contributors
- Developed by Tyler Peckenpaugh &#91;[moui](http://boardgamegeek.com/user/moui)&#93; on BGG.
- Avengers vs. X-men data file provided by MajorOracle via [BGG](http://boardgamegeek.com).
- Ultimate X-men data file provided by pishposh via [BGG](http://boardgamegeek.com).
- Yu-Gi-Oh data file provided by pishposh via [BGG](http://boardgamegeek.com).
- D&amp;D partial data provided by oneone78 via [BGG](http://boardgamegeek.com).
- D&amp;D data file provided by Kengi via [BGG](http://boardgamegeek.com).

Note: if you have contributed to this project in some way and would like to be credited, or change the way in which you are credited, don't hesitate to [contact me via BGG](http://boardgamegeek.com/user/moui).

</md>
</div>