<h1>About</h1>
<md>
XDM is a tool for selecting random cards to play with in Dice Masters, a dice and card game by Eric Lang and Mike Elliot. This site is no no way affiliated with Wizkids, Eric Lang, Mike Elliot, or any of the licenses (Marvel, Yu-Gi-Oh, Dungeons and Dragons, DC Comics, etc.) associated with this game. This app is simply a fan-made tool intended for fans of the game.

## Changelog

- XDM Beta 1 released. 
- XDM is essentially [mdmR](http://opinionator.net/mdmR) v2 and represents:
- Major UI overhaul 
- Addition of Marvel: Uncanny X-men set cards
- Addition of Yu-Gi-Oh cards set cards
- Partial implementaion of Dungeons and Dragons: Battle for Faerun cards.

## Planned improvements
  
- Add costs of D&amp;D set cards.
- Improve drafting algorithm.
- Add UI documentation and feedback
- Add DC set cards.

## Credits and contributors
- Developed by Tyler Peckenpaugh &#91; [moui](http://boardgamegeek.com/user/moui) &#93; on BGG
- Avengers vs. X-men data file provided by MajorOracle via [boardgamegeek.com (BGG)](http://boardgamegeek.com)
- Ultimate X-men data file provided by pishposh via [BGG](http://boardgamegeek.com)
- Yu-Gi-Oh data file provided by pishposh via [BGG](http://boardgamegeek.com)
- D&amp;D partial data provided by oneone78 via [BGG](http://boardgamegeek.com)

</md>