<div>
<h1>About</h1>
<md>
XDM is a tool for selecting random cards to play with in Dice Masters, a dice and card game by Eric Lang and Mike Elliot. This site is no no way affiliated with Wizkids, Eric Lang, Mike Elliot, or any of the licenses (Marvel, Yu-Gi-Oh, Dungeons and Dragons, DC Comics, etc.) associated with this game. This app is simply a fan-made tool intended for fans of the game.

If you were a user of [mdmR](http://opinionator.net/mdmR) you can import your collection using the [conversion tool](http://gotu-game.com/XDM/import.mdm-xdm.php).

Please post any bugs you find and any feedback or feature requests on the [boardgamegeek.com (BGG)](http://boardgamegeek.com/article/18753366) forum thread.



## Planned improvements
- Improve UI documentation and feedback
- Add DC set cards.

## Credits and contributors
- Developed by Tyler Peckenpaugh &#91;[moui](http://boardgamegeek.com/user/moui)&#93; on BGG.
- Avengers vs. X-men data file provided by MajorOracle via [BGG](http://boardgamegeek.com).
- Ultimate X-men data file provided by pishposh via [BGG](http://boardgamegeek.com).
- Yu-Gi-Oh data file provided by pishposh via [BGG](http://boardgamegeek.com).
- D&amp;D partial data provided by oneone78 via [BGG](http://boardgamegeek.com).
- D&amp;D data file provided by Kengi via [BGG](http://boardgamegeek.com).

Note: if you have contributed to this project in some way and would like to be credited, or change the way in which you are credited, don't hesitate to [contact me via BGG](http://boardgamegeek.com/user/moui).

</md>
</div>